[submodule "src/app/launchpad/tokenbackend/lib/openzeppelin-contracts"]
	path = src/app/launchpad/tokenbackend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git